body {
    margin: 0;
    padding: 0;
    background-color:white;
}

header {
    width: 100%;
    height: 50px;
    background-color: steelblue;
    align-items: center;
    display: flex;
}

header p {
    padding: 1%;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: midnightblue;
    padding-left: 10px;
}

.menu .dumge {
    width: 100px;
    height: 30px;
    background-color: royalblue;
    color: white;
}

.container{
    padding:1%;
}

.auto-style1 {
    width: 30%;
}

.auto-style1 td{
    width: 15%;
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
}

.legenda {
    width: 30%; 
    height:auto;

}

.ButtonPrijava{
    margin-top: 10px;
    margin-left:26%;
}

.prikaz{
    padding:1%;
}

.footer {
    width: 100%;
    height: 30px;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
}